<div ng-controller="registerForm" class="registerForm">
    <h3>Register</h3>
    <form name="registerForm" class="simple-form" novalidate>
        <div class="form-group">
            <label for="uEmail">E-mail </label>
            <input type="email" class="form-control" ng-model="user.email" name="uEmail"
                   required/>

            <div ng-show="registerForm.$submitted || registerForm.uEmail.$touched">
                <div class="formError" ng-show="registerForm.uEmail.$error.required">Tell us your email</div>
                <div class="formError" ng-show="registerForm.uEmail.$error.email">This is not a valid email</div>
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword">Password</label>
            <input type="password" class="form-control" name="uPassword" ng-model="user.password" ng-minlength="8"
                   required/>

            <div ng-show="registerForm.$submitted || registerForm.uPassword.$touched">
                <div class="formError" ng-show="registerForm.uPassword.$error.required">Please enter a password</div>
                <div class="formError" ng-show="registerForm.uPassword.$error.minlength">Password must be at least 8
                    characters
                </div>
                <div class="formError"
                     ng-show="registerForm.uPassword.$dirty && uPasswordForm.uPassword.$invalid">
                    Please enter a new password, it must be at least 6 characters long.
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="newPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" name="uPasswordConfirm" ng-model="user.passwordConfirm"
                   ng-minlength="8" value-matches="user.password" required/>
            <div ng-show="registerForm.$submitted || registerForm.uPassword.$touched">

                <div class="formError"
                     ng-show="registerForm.uPasswordConfirm.$dirty && registerForm.uPasswordConfirm.$invalid">
                    Please enter a matching password
                </div>
            </div>
        </div>

        <input type="button" class="btn btn-outline-warning my-2 my-sm-0" ng-click="reset(form)" value="Reset"/>

        <input type="submit" class="btn btn-outline-success my-2 my-sm-0 right" ng-click="submitForm(user, registerForm)"
               ng-disabled="registerForm.$invalid" value="Submit"/>
    </form>
    <br/>
</div>
